@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
    //Layout = null;
    var className = "test";
}

<div>
    @using (Html.BeginForm())
    {
        <p class="@className">Hello World: @DateTime.Now</p>
    }
</div>
